.cart-form {
    width: 95%;
}

.cart-table {
    display: inline-block;
    font-size: 0.8em;
    border: 1px dotted black;
    /* padding-left: 20%;
    padding-right: 20%; */
}

.cart-header {
    text-decoration: underline;
}

.cart-product-qty {
    width: 15%;
    text-align: center;
}

.change-qty {
    font-size: 1.1em;
    border: 1px solid pink;
    border-radius: 20%;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.cart-del-product-img {
    height: 2.5%;
    vertical-align: bottom;
}

td {
    width: 15%
}

td:first-child {
    width: 35%;
}

td:last-child {
    width: 5%;
}