.cart-form {
    /* width: 95%; */
    width: 100%;
}

.cart-table {
    width: 80%;
    display: inline-block;
    font-size: 0.8em;
    border: 1px dotted black;
    /* padding-left: 20%;
    padding-right: 20%; */
}

.cart-header {
    text-decoration: underline;
}

.cart-img{
    max-width: 80px;
    max-height: 80px;
    border-radius: 7px;
}

.cart-product-qty {
    width: 15%;
    text-align: center;
}

.change-qty {
    font-size: 1.1em;
    border: 1px solid pink;
    border-radius: 20%;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.cart-del-product-img {
    height: 2.5%;
    vertical-align: bottom;
}

td {
    width: 15%
}

td:first-child {
    width: 15%;
    /* width: 35%; */
}

td:nth-child(2){
    width: 35%;
    text-align: left;
}

td:last-child {
    width: 5%;
}

.loading-img {
    width: 20%
}