.order-form {
    width: 95%;
}

.form-giude {
    font-size: 0.9em;
}

.asterisk {
    color: rgb(109, 31, 31);
    font-weight: 900;
    opacity: 5;
}

.order-form-field {
    width: 40%;
    margin: 0.5em;
    display: inline-block;
    text-align: left;
    padding-left: 1em;
    border-radius: 1em;
    border: 1px solid black;
}

.order-block-el {
    display: block;
    width: 82.5%;
    margin: auto;
}

.order-two-el {
    width: 40%;
}

.order-triple-el {
    width: 26%;
}

.order-form-field > input {
    border: none;
}

.order-form-field > label {
    opacity: 0.7;
    font-size: 1.2em;
    display: inline;
}

.payment-label {
    display: inline;
}

.payment-label:not(:last-child) {
    /* display: inline; */
    margin-right: 11em;
}

.payment-input {
    width: 1%;
    /* display: block; */
}

.confirm-btn {
    width: unset
}





.thank-you-el {
    background: url('../images/thank-you.jpg') no-repeat;
    background-size: cover;
    border-radius: 2em;
    width: 40em;
    height: 40em;
    margin: auto;
    border: 1px solid rgb(163, 133, 140);
}

.thank-you-el:hover {
    border: 1px solid pink;
    filter: drop-shadow(2px 3px 4px pink);
}

.thank-you-txt {
    font-size: 25pt;
    font-weight: 900;
    color: #624f40;;
    text-shadow: 1px 1px 1px pink;
    text-align: center;
}