.order-form {
    /* width: 95%; */
    width: 100%;
}

.form-giude {
    font-size: 0.9em;
}

.asterisk {
    color: rgb(109, 31, 31);
    font-weight: 900;
    opacity: 5;
}

.order-form-field {
    width: 40%;
    margin: 0.5em;
    display: inline-block;
    text-align: left;
    padding-left: 1em;
    border-radius: 1em;
    border: 1px solid black;
}

.order-block-el {
    display: block;
    width: 82.5%;
    margin: auto;
    margin-bottom: 2%;    /* new line */
    margin-top: 1%;       /* new line */
}

.order-two-el {
    width: 40%;
}

.order-triple-el {
    /* width: 26%; */
    width: 25%;
}

.order-form-field > input {
    border: none;
}

.order-form-field > label {
    opacity: 0.7;
    font-size: 1.2em;
    display: inline;
}

.payment-label {
    display: inline;
}

.payment-label:not(:last-child) {
    /* display: inline; */
    margin-right: 16%;
}

.payment-input {
    width: 2%;
    /* display: block; */
}

.paypal-logo {
    background: no-repeat url('../images/pay-pal-logo.png');
    width: 3em;
    height: 1em;
    background-position: center;
    display: inline-block;
    background-size: contain;
    filter: brightness(0.5);
    vertical-align: bottom;
}

.confirm-btn {
    width: unset
}





.thank-you-img {
    /* background: url('../images/thank-you.jpg') no-repeat; */
    background: url('../images/thank-you.png') no-repeat;
    background-size: cover;
    border-radius: 2em;
    width: 40em;
    height: 40em;
    margin: auto;
    position: relative;
    /* border: 1px solid rgb(163, 133, 140); */

    /* to be able to copy the text above it */
    z-index: -1;

    filter: drop-shadow(4px 5px 6px pink);
}

.thank-you-txt:hover {
    /* border: 1px solid pink; */
    filter: drop-shadow(2px 3px 4px pink);
}

.thank-you-txt {
    font-size: 25pt;
    font-weight: 900;
    /* color: #624f40; */
    color: #303339;
    text-shadow: 1px 1px 1px pink;
    text-align: center;
    position: absolute;
}

.first-line {
    top: 3em;
    left: 10em;
    /* left: 21%; */
}

.second-line {
    top: 4em;
    left: 15em;
}

.third-line {
    top: 18em;
    left: 10em;
}

.ordered-products {
    position: absolute;
    top: 11%;

    width: 11%;
    display: inline-block;
    padding-left: 2em;
    border-left: 2px solid rgb(109, 31, 31);

    /* overflow-x: hidden; */
    overflow-y: auto;
    /* max-height: 66%; */
    max-height: 50%;
}

.ordered-products-heading {
    font-size: 1.67em;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

.ordered-products-img {
    max-width: 50px;
    max-height: 50px;
}

.order-info {
    width: 85%;
    display: inline-block;
}
/*
.hr-vertical {
    display: inline-block;
    height: 25em;
    position: absolute;
    top: 20%;
    left: 84%;
} */

.order-total {
    position: absolute;
    /* width: 11%; */
    right: 9%;
    top: 61%;
}