.not-found-wrapper {
    position: relative;
    width: 100%;
}

.not-found-img {
    background: url('../images/page-not-found.jpg') no-repeat;
    background-size: cover;
    border-radius: 2em;
    width: 400px;
    height: 400px;
    margin: auto;
    border: 1px solid rgb(163, 133, 140);
}

.not-found-img:hover {
    border: 1px solid pink;
    filter: drop-shadow(2px 3px 4px pink);
}

.not-found-txt {
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 11em;
    width: 40%;
    font-size: 1.5em;
}

.four-digit {
    position: absolute;
    font-size: 13em;
    top: 0.1em;
    color: rgb(163, 133, 140);
    filter: drop-shadow(0px 1px 0px pink);

}

.left-al {
    left: 1.7em;

}

.right-al {
    right: 1.7em;

}