.content-wrapper {
    width: 100%;
    text-align: center;
    display: inline-block;
}

.product-wrapper {
    display: inline-block;
    position: relative;
    width: 15%;
    margin: 35px;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 1px -1px 30px rgba(1,1,1,0.2);
}

.product-details-wrapper {
    width: 24%;
}

.product-title {
    display: inline-block;
    font-size: 1.1rem;
    /* margin-left: 6%; */
    padding-bottom: 5px;
    color: black;
}

.product-wrapper  div.img-container {
    position: relative;
    overflow: hidden;
}

.product-wrapper  div.img-container:after {
    display: block;
    content: '';
    /* padding-top: 56.25%; */
    padding-top: 150%;
    background-color: #000000d9;

}

.product-img {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;

    /* to center the img */
    top: 50%;
    transform: translateY(-50%);
}

.relative-container {
    position: relative;
}
.product-img-details, .add-product-img {
    width: 99%;
    height: 95%;
    border: 1px solid rgb(163, 133, 140);
}

.upload-img-text-wrapper {
  background-color: rgb(109, 31, 31);
}

.upload-img-text {
    position: absolute;
    /* top: 5%; */
    /* right: 25%; */
    top: 4%;
    right: 15%;
    /* background: #ac9198;; */
    /* opacity: 0.75; */
    border-radius: inherit;
}





.img-visualiser {
    display: flex;
}

.opacity-img{
    filter: opacity(0.1);
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
}

.btn-group a {
    flex-grow: 1;
}

.product-actions-btn {
    font: inherit;
    font-size: 1.255em;
    color: #f3e6e6;
    background: rgb(85, 59, 59);
    transition: background 1s ease;
}

.add-to-cart-btn {
    display: block;
    border-radius: 0px;
}

.product-actions-btn:hover {
    background: rgba(92, 51, 51, 0.788);
}

.product-actions {
    text-align: center;
}

.product-likes {
    position: absolute;
    bottom: 0.5em;
    left: 0em;
    padding: 0.1em 0.5em;
    font-weight: 900;
    color: rgb(109, 31, 31);
    background: rgb(186, 164, 169);;
}

.product-price {
    display: block;
}

.product-price-details {
    display: inline;
}

.price-sign {
    font-size: 1.255em;
    color: rgb(109, 31, 31);
}

.no-products-container {
    position: relative;
}

.no-products-img {
    width: 100%;
    height: 635px;
    background-image: url("../../static/images/no-products-left.png");
    background-position: center;
    /*position: relative;*/
    /*left: 0;
    top: 0;*/
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-size: contain;*/
    filter: contrast(0.5) blur(0px);
}

.no-products-text-container > h1 {
    z-index: 100;
    position: absolute;
    padding-left: 15px
}
.no-products-text-container > h2{
    z-index: 100;
    position: absolute;
    padding-top: 45px;
    padding-left: 30px
}