.search {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search label {
    margin-right: 0.5rem;
}

.search label, .search input {
    flex: 0 1 10rem;
    margin-top: 0.5rem;
}