body {    
    margin: 0px 0px;
    background-color: rgb(186, 164, 169);
    font: normal 16px 'Lobster Two';
}

div#root {
    /* to keep the footer always at the bottom of the page */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: rgb(109, 31, 31);
}

a:active{
    color: black;
}

h2 {
    font-size: 1.67em;
}

p {
    font-size: 1.254wm;
}

hr {
    border-color: rgb(109, 31, 31);
    border-radius: 100%;
}

input::placeholder {
    color: #806775dc;
}

.main-container {
    width: 60%;
    background: rgb(184, 158, 158);
    left: 100px;
    border-radius: 40px;
    margin-left: 20%;
}

::selection {
    color: rgb(163, 133, 140);
    background: black;
    border-radius: 5px;
}

::-moz-selection {
    color: rgb(163, 133, 140);
    background: black;
    border-radius: 5px;
}