header {
    box-shadow: 0px 5px 8px 0px #0000005c;
}

header > ul > li {
    display: inline-block;
    list-style: none;
    padding: 10px;
}

/* .left-align {
    float: left;
} */

.right-align {
    float: right;
    margin-left: 1em;
}

li > a {
    text-decoration: none;
    font-size: 1.42em;
    text-transform: capitalize;
    font-weight: bold;
    font-family: inherit
}

ul {
    padding-left: 0px;
    padding-bottom: 10px;
    margin-top: -0.3%;
    margin-left: 70px;
}

.logo {
    background-image: url('../../images/fav-icon.ico');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 35px;
    padding-top: 0px;
    padding-bottom: 50px;
}

.my-cart-img::before {
    background: no-repeat url('../../images/my-cart.png');
    position: absolute;
    content: " ";
    width: 40px;
    height: 40px;
    right: 4em;
    /* right: 25%; */
    filter: grayscale(1) contrast(5);
}