@import url('https://fonts.googleapis.com/css?family=Lobster+Two:400,400i,700,700i&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");
/* @import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&display=swap&subset=cyrillic'); */

.site-header {
    display: flex;
    font-family: 'Lobster Two', serif;
    box-shadow: 0px 5px 8px 0px #0000005c;
}

nav {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    padding-left: 3.5rem;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    list-style: none;
    padding: 10px;
}

li > a, label[for="toggle-menu"] {
    text-decoration: none;
    font-size: 1.42em;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
}

.logo {
    background-image: url('../../images/fav-icon.ico');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 30px;
    position: absolute;
}

#toggle-menu, label[for="toggle-menu"] {
    display: none;
}

@media screen and (max-width: 800px) {

    label[for="toggle-menu"] {
        display: inline-block;
        padding-top: 0.6rem;
        padding-left: 0.3rem;
        height: 2rem;
    }

    ul.left-align {
        display: none;
    }

    .fa-times, .fa-bars {
        padding-right: 0.3rem;
    }

    .fa-times {
        display: none;
    }

    #toggle-menu:checked + nav .fa-times {
        display: inline;
    }

    #toggle-menu:checked + nav .fa-bars {
        display: none;
    }

    #toggle-menu:checked + nav ul.left-align {
        display: block;
        padding-top: 2.5rem;
    }

    #toggle-menu:checked + nav ul.left-align li {
        display: block;
    }


}